numpy==1.23.5
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
streamlit==1.22.0
streamlit-player==0.1.5
streamlit-webrtc==0.45.0
Pillow >= 5.1.0
matplotlib >= 2.1.1
numpy_ringbuffer >= 0.2.1
gstreamer-player==1.1.2
